[submodule "vendor/symfony/Symfony/Component/ClassLoader"]
	path = vendor/symfony/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendor/videlalvaro/php-amqplib"]
	path = vendor/videlalvaro/php-amqplib
	url = git://github.com/videlalvaro/php-amqplib.git
